.keyboard {
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}
.wrong {
    background: #ecb5b5;
    border-radius: 20px;
    -webkit-animation: vibrate-1 0.3s linear 0s both;
    animation: vibrate-1 0.3s linear 0s both;
}

.row {
    list-style: none;
    display: flex;
    margin: 0;
}

li {
    height: 3em;
    width: 3em;
    color: var(--text-color);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#tab {
    width: 5em;
}

#caps {
    width: 6em;
}

#leftShift {
    width: 8em;
}

#enter {
    width: 6em;
}

#rightShift {
    width: 8em;
}

#back {
    width: 5em;
}

.pinky {
    border: 2px solid #146bdc;
}
.pinky.selected {
    color: white;
    background: #146bdc;
}

.ring {
    border: 2px solid coral;
}
.ring.selected {
    color: white;
    background: coral;
}

.middle {
    border: 2px solid #57cb71;
}
.middle.selected {
    color: white;
    background: #57cb71;
    border: 2px solid #57cb71;
}

.pointL {
    border: 2px solid #e600ff;
}
.pointL.selected {
    background: #e600ff;
    color: white;
}
.pointR {
    border: 2px solid #00eaff;
}
.pointR.selected {
    color: white;
    background: #00eaff;
}

.fillOutKey {
    background-color: slategrey;
    border: 2px solid slategrey;
}

.selected {
    background-color: transparent;
}

.hit {
    -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes hit {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hit {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}