.wrapper {
    background: var(--foreground-color);
    padding: 6px;
    border-radius: 11px;
}
.menuWrapper {
    display: flex;
    justify-content: space-between;
}
.menuWrapper div {
    padding: 6px;
}
.keyboardMenu {
    display: flex;
    flex-direction: row;
}
.keyboardMenu div {
    cursor: pointer;
}
.container {

}
.keyboardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}